{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

{%
    set heading = [
        'Title',
        'Created',
        'Modified',
        html.icon('comment-alt'),
        'Author'
    ]
%}

{% block tab_content %}

    <div class="form__group">
        <label class="control__label">Choices</label>
        <div class="controls">
            <table class="table table--full js-repeatable">
                <thead>
                    <tr>
                        <th>Default</th>
                        <th>Label</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="table-row__actions">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="table-row__actions">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                <tr>
                    <td class="shrink-to-fit centered">{{ form.radio({ 'bare': true }) }}</td>
                    <td>my_label</td>
                    <td>my_value</td>
                    <td class="table-row__actions">
                        {{ html.edit_button({ 'placement': 'left' }) }}
                        {{ html.remove_button({ 'placement': 'left' }) }}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="table__form" colspan="99">
                            <div class="table__form-container js-repeatable-form visually-hidden">
                                <button type="button" class="close" data-dismiss="table-form" aria-hidden="true">&times;</button>
                                {{
                                    form.fieldset_start({'legend': 'New choice'})
                                }}

                                {{
                                    form.text({
                                        'label': 'Label',
                                        'help': 'The name of the choice, displayed to the user'
                                    })
                                }}

                                {{
                                    form.text({
                                        'label': 'Value',
                                        'help': 'The data to save when this is selected'
                                    })
                                }}

                                {{
                                    form.fieldset_end()
                                }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table__actions" colspan="99">
                            <div class="js-repeatable-add show">
                                {{
                                    html.button({
                                        'label': 'Add Another'
                                    })
                                }}
                            </div>
                            <div class="js-repeatable-save visually-hidden">
                                {{
                                    form.submit({
                                        'class': 'btn--primary',
                                        'label': 'Save'
                                    })
                                }}
                                {{
                                    html.link({
                                        'class': 'btn btn--naked',
                                        'label': 'Cancel',
                                        'data-dismiss': 'table-form'
                                    })
                                }}
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock tab_content %}
