{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{% block tab_content %}

<div class="calculation-designer">

    <div class="js-calculation-toolbar calculation-toolbar">
        {{ html.label({ 'label': '#variable', 'class': 'calculation-label calculation-label--var js-calc js-calc-var' }) }}
        {{ html.label({ 'label': 'number', 'class': 'calculation-label calculation-label--num js-calc js-calc-num' }) }}

        {{
            html.label({
                'label': '+',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--operator',
                'data-value': '+'
            })
        }}
        {{
            html.label({
                'label': '-',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--operator',
                'data-value': '-'
            })
        }}
        {{
            html.label({
                'label': 'x',
                 'class': 'calculation-label js-calc js-calc-operator calculation-label--operator',
                 'data-value': 'x'
                })
            }}
        {{
            html.label({
                'label': '/',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--operator',
                'data-value': '/'
            })
        }}
        {{
            html.label({
                'label': '(',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--paren',
                'data-value': '('
            })
        }}

        {{
            html.label({
                'label': ')',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--paren',
                'data-value': ')'
            })
        }}
    </div>

    <div class="js-calculation-editor calculation-editor">
    <span class="js-calc-placeholder">Drop summat here</span>
    </div>
</div>
{% endblock %}
