{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{% block tab_content %}
<style>
    .potential-label,
    .calculation-label.potential-label:hover {
        background-color: #fff !important;
        cursor: text !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
</style>

<div class="calculation-designer">

    <div class="js-calculation-toolbar calculation-toolbar">
        {{ html.label({ 'label': '#variable', 'class': 'calculation-label calculation-label--var js-calc js-calc-var' }) }}
        {{ html.label({ 'label': 'number', 'class': 'calculation-label calculation-label--num js-calc js-calc-num' }) }}

        {{
            html.label({
                'label': '+',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--operator',
                'data-value': '+'
            })
        }}
        {{
            html.label({
                'label': '-',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--operator',
                'data-value': '-'
            })
        }}
        {{
            html.label({
                'label': 'x',
                 'class': 'calculation-label js-calc js-calc-operator calculation-label--operator',
                 'data-value': 'x'
                })
            }}
        {{
            html.label({
                'label': '/',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--operator',
                'data-value': '/'
            })
        }}
        {{
            html.label({
                'label': '(',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--paren',
                'data-value': '('
            })
        }}

        {{
            html.label({
                'label': ')',
                'class': 'calculation-label js-calc js-calc-operator calculation-label--paren',
                'data-value': ')'
            })
        }}
    </div>

    <div class="js-calculation-editor calculation-editor"></div>
</div>
{% endblock %}
