{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% set i = 1 %}

{% 
    set data = {
        'columns': [
            { 'title': 'Date' },
            { 'title': 'Active', 'attrs': {
                    'class': 'shrink-to-fit u-text-align-center',
                    'data-orderable': 'false',
                    'id': 'aria-actions-label'
                }
            }
        ],
        'data': [
            {
                'Title': {
                    'label': 'Monday 01/10/2018',
                    'data-order': '2018-10-01 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 15/10/2018',
                    'data-order': '2018-10-15 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                },
            },
            {
                'Title': {
                    'label': 'Monday 29/10/2018',
                    'data-order': '2018-10-29 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 30/10/2018',
                    'data-order': '2018-10-30 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Tuesday 30/10/2018 ' ~ html.label({'label': 'one-off', 'class': 'label--info'}),
                    'data-order': '2018-10-30 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 12/11/2018',
                    'data-order': '2018-11-12 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 26/11/2018',
                    'data-order': '2018-11-26 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': false,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 10/12/2018',
                    'data-order': '2018-12-10 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 24/12/2018',
                    'data-order': '2018-12-24 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            }
        ]
    }
%}

{%- block actions_left -%}
    {{
        html.actions_menu({
            'items': [
                [
                    {
                        'label': 'Create New Page',
                        'href': '#one',
                        'icon': 'file-text-o'
                    }
                ],
                [
                    {
                        'label': 'Save',
                        'href': '#save',
                        'icon': 'save'
                    },
                    {
                        'label': 'Send for approval',
                        'href': '#workflow-submit',
                        'data-toggle': 'modal',
                        'icon': 'hand-o-right'
                    }
                ],
                [
                    {
                        'label': 'Lock',
                        'href': '#lock',
                        'icon': 'lock'
                    },
                    {
                        'label': 'Collaborate',
                        'href': '#collaborate',
                        'icon': 'user-plus'
                    }
                ],
                [
                    {
                        'label': 'Preview',
                        'href': '#preview',
                        'icon': 'eye-open'
                    },
                    {
                        'label': 'View history',
                        'href': '#history',
                        'icon': 'history'
                    }
                ],
                [
                    {
                        'class': 'link--danger',
                        'label': 'Delete',
                        'href': '#delete',
                        'icon': 'remove'
                    }
                ],
            ]
        })
    }}
{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Save',
            'class': 'btn--primary',
            'data-toggle': 'modal',
            'type': 'link',
            'href': '#'
        })
    }}
{%- endblock -%}

{% block tab_content %}
    
    {{
        form.create({
        })
    }}

    {{
        form.text({
            'label': 'Title',
            'class': 'form__group--xxlarge',
            'required': true
        })
    }}

    {{
        form.date({
            'label': 'Date of event',
			'class': 'form__group--medium',
            'prepend': html.icon('calendar'),
            'required': true
        })
    }}

    {#
        form.compound({
            'label': 'Duration of event',
            'id': 'duration',
            'required': true,
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'From',
                    'id': 'duration-from',
                    'show-label': false,
                    'required': true,
                    'type': 'time',
                    'prepend': html.icon('clock-o')
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'To',
                    'id': 'duration-to',
                    'show-label': false,
                    'required': true,
                    'type': 'time',
                    'prepend': html.icon('clock-o')
                }
            ]
        })
    #}
	<style>
		#duration label {
			margin-left: 0;
			padding-top: 11px;
			padding-right: 10px;
		}
	</style>
	<fieldset id="duration" class="form__group form__group--compound"><legend class="control__label" id="duration[label]">Time of event <span class="required-indicator" rel="tooltip" data-toggle="tooltips" title="" data-original-title="required">*</span></legend>
	<div class="controls">
		<label for="duration-from" id="duration-from[label]" class="control__label hide ">From</label><input id="duration-from" type="time" class="form__control form__control-col--1"><label for="duration-to" id="duration-to[label]" class="control__label">To</label><input id="duration-to" type="time" class="form__control form__control-col--1"></div></fieldset>

    {{ 
        form.fieldset_start({
            'legend': 'Repeat event'
        })
    }}

    <p>Make this event recur on a defined schedule, you can add a repeat pattern and add/remove specific dates to fine tune when your event will run</p>


    <div class="form__group form__group--large">
        <label for="repeat-pattern-two" class="control__label">Repeat</label><!--
        --><div class="controls">
            <select id="repeat" class="form__control select js-ercal-repeat">
                <option value="no-repeat">No repeat</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="two-weekly">Every two weeks</option>
                <option value="monthly-day">Monthly, on this day of the month</option>
                <option value="monthly-date">Monthly, on this date</option>
                <option value="annually">Every year</option>
            </select>    
        </div>
    </div>

    
    
    
    

        {{
            form.choice({
                'label': 'Repeat every',
                'class': 'choice--bubbles choice--bubbles-inline js-ercal-weekdays',
                'style': 'display: none;',
                'multiple': true,
                'optimize': 'few',
                'required': true,
                'help': 'You must choose at least one day for the event to occur on',
                'options': [
                    {
                        'label': 'MO',
                        'value': '1',
                        'name': 'ercal-weekdays'
                    },
                    {
                        'label': 'TU',
                        'value': '2',
                        'name': 'ercal-weekdays'
                    },
                    {
                        'label': 'WE',
                        'value': '3',
                        'name': 'ercal-weekdays'
                    },
                    {
                        'label': 'TH',
                        'value': '4',
                        'name': 'ercal-weekdays'
                    },
                    {
                        'label': 'FR',
                        'value': '5',
                        'name': 'ercal-weekdays'
                    },
                    {
                        'label': 'SA',
                        'value': '6',
                        'name': 'ercal-weekdays'
                    },
                    {
                        'label': 'SU',
                        'value': '7',
                        'name': 'ercal-weekdays'
                    }
                ]
            })
        }}

        


    {{
        form.date({
            'label': 'End repeat after',
            'class': 'form__group--medium js-end-repeat-2',
            'prepend': html.icon('calendar'),
            'id': 'end-date-2',
            'name': 'end-date-2',
            'help': 'Events will stop repeating <strong>after</strong> this date',
            'disabled': true,
            'value': '01/10/2018'
        })
    }}

    <div class="form__indent">
    {{
        html.button({
            'label': html.icon('calendar-check-o') ~ ' View / Edit Upcoming Occurences',
            'class': 'form__indent',
            'data-toggle': 'modal',
            'href': '#upcoming'
        })
    }}
    </div>

    {{ form.fieldset_end() }}

    {{ 
        form.fieldset_start({
            'legend': 'Event details'
        })
    }}

    {{
        form.content({
            'label': 'Categories',
			'id': 'categories',
			'name': 'categories',
            'required': true,
			'value': html.button({
				'label': 'Assign Categories'
			})
        })
    }}

	{{
        form.content({
            'label': 'Metadata',
			'id': 'metadata',
			'name': 'metadata',
            'required': true,
			'value': html.button({
				'label': 'Assign Metadata'
			})
        })
    }}

	{{
        form.content({
            'label': 'Location',
			'id': 'location',
			'name': 'location',
            'required': true,
			'value': html.button({
				'label': 'Assign Location'
			})
        })
    }}

	{{
        form.text({
            'label': 'Cost',
			'class': 'form__group--medium',
			'id': 'cost',
			'name': 'cost',
			'prepend': '£',
            'value': '100.00'
        })
    }}

	{{
        form.textarea({
            'label': 'Summary',
			'id': 'summary',
			'name': 'summary',
			'rows': 3,
            'value': 'This is my summary, there are many like it but this one is mine.'
        })
    }}

	{{
        form.textarea({
            'label': 'Description',
			'id': 'description',
			'name': 'description',
			'rows': 10,
            'value': 'Uh, wickey wild wild
Wicky wicky wild
Wickey wild, wicky wicky wild wild wild west,
Jim West, desperado, rough rider
No you don’t want nada
None of this, six gun in this, brotha runnin’ this,
Buffalo soldier, look it’s like I told ya
Any damsel that’s in distress
Be out of that dress when she meet Jim West
Rough neck so go check the law and abide
Watch your step , we’ll flex and get a hole in your side
Swallow your pride, don’t let your lip react,
You don’t wanna see my hand where my hip be at,
With all of this, from the start of this,
Runnin’ the game, James West tamin’ the west so remember the name
Now who ya gonna call?'
        })
    }}

	{{
        form.checkbox({
            'label': 'Pick of the week',
			'id': 'potw',
			'name': 'potw'
        })
    }}

    {{ form.fieldset_end() }}

    
	

    {{
        form.end({
            'actions': [
                form.submit({
                    'class': 'btn--primary',
                    'label': 'Save'
                }),
                html.button({
                    'class': 'btn--naked',
                    'type': 'link',
                    'label': 'Cancel',
                    'href': '#'
                })
            ]
        })
    }}

    <div class="modal modal--large" id="upcoming">
        <div class="modal__dialog">
            <div class="modal__content">
                <div class="modal__header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal__title">Upcoming Occurrences</h1>
                    {{
                        form.create({})
                    }}
                </div>
                <div class="modal__body">
                    <div class="calendar-container g-col g-col--8">
                        <div class="js-event-calendar"></div>
                    </div>
                </div>
                <div class="modal__footer">
                    {{
                        form.end({
                            'actions': [
                                form.submit({
                                    'class': 'btn--primary',
                                    'label': 'Done',
                                    'data-dismiss': 'modal'
                                }),
                                html.button({
                                    'class': 'btn--naked',
                                    'type': 'link',
                                    'label': 'Cancel',
                                    'href': '#',
                                    'data-dismiss': 'modal'
                                })
                            ]
                        })
                    }}
                </div>
            </div><!-- /.modal__content -->
        </div><!-- /.modal__dialog -->
    </div><!-- /.modal -->

{% endblock %}
