{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% set i = 1 %}

{% 
    set data = {
        'columns': [
            { 'title': 'Date' },
            { 'title': 'Active', 'attrs': {
                    'class': 'shrink-to-fit u-text-align-center',
                    'data-orderable': 'false',
                    'id': 'aria-actions-label'
                }
            }
        ],
        'data': [
            {
                'Title': {
                    'label': 'Monday 01/10/2018',
                    'data-order': '2018-10-01 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 15/10/2018',
                    'data-order': '2018-10-15 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                },
            },
            {
                'Title': {
                    'label': 'Monday 29/10/2018',
                    'data-order': '2018-10-29 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 30/10/2018',
                    'data-order': '2018-10-30 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Tuesday 30/10/2018 ' ~ html.label({'label': 'one-off', 'class': 'label--info'}),
                    'data-order': '2018-10-30 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 12/11/2018',
                    'data-order': '2018-11-12 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 26/11/2018',
                    'data-order': '2018-11-26 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': false,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 10/12/2018',
                    'data-order': '2018-12-10 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            },
            {
                'Title': {
                    'label': 'Monday 24/12/2018',
                    'data-order': '2018-12-24 00:00'
                },
                'Active': {
                    'label': form.checkbox({ 
                        'aria-described-by': 'aria-actions-label',
                        'checked': true,
                        'bare': true    
                    }),
                    'class': 'u-text-align-center'
                }
            }
        ]
    }
%}

{%- block actions_left -%}
    {{
        html.actions_menu({
            'items': [
                [
                    {
                        'label': 'Create New Page',
                        'href': '#one',
                        'icon': 'file-text-o'
                    }
                ],
                [
                    {
                        'label': 'Save',
                        'href': '#save',
                        'icon': 'save'
                    },
                    {
                        'label': 'Send for approval',
                        'href': '#workflow-submit',
                        'data-toggle': 'modal',
                        'icon': 'hand-o-right'
                    }
                ],
                [
                    {
                        'label': 'Lock',
                        'href': '#lock',
                        'icon': 'lock'
                    },
                    {
                        'label': 'Collaborate',
                        'href': '#collaborate',
                        'icon': 'user-plus'
                    }
                ],
                [
                    {
                        'label': 'Preview',
                        'href': '#preview',
                        'icon': 'eye-open'
                    },
                    {
                        'label': 'View history',
                        'href': '#history',
                        'icon': 'history'
                    }
                ],
                [
                    {
                        'class': 'link--danger',
                        'label': 'Delete',
                        'href': '#delete',
                        'icon': 'remove'
                    }
                ],
            ]
        })
    }}
{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Save',
            'class': 'btn--primary',
            'data-toggle': 'modal',
            'type': 'link',
            'href': '#'
        })
    }}
{%- endblock -%}

{% block tab_content %}
    
    {{
        form.create({
        })
    }}

    {{
        form.text({
            'label': 'Title',
            'class': 'form__group--xxlarge',
            'value': 'My awesome event and you’re all invited',
            'required': true
        })
    }}

    {{
        form.date({
            'label': 'Date of event',
			'class': 'form__group--medium',
            'prepend': html.icon('calendar'),
            'value': '01/10/2018',
            'required': true
        })
    }}

    {#
        form.compound({
            'label': 'Duration of event',
            'id': 'duration',
            'required': true,
            'inputs': [
                {
                    'class': 'form__control-col--1',
                    'label': 'From',
                    'id': 'duration-from',
                    'show-label': false,
                    'required': true,
                    'type': 'time',
                    'prepend': html.icon('clock-o')
                },
                {
                    'class': 'form__control-col--1',
                    'label': 'To',
                    'id': 'duration-to',
                    'show-label': false,
                    'required': true,
                    'type': 'time',
                    'prepend': html.icon('clock-o')
                }
            ]
        })
    #}
	<style>
		#duration label {
			margin-left: 0;
			padding-top: 11px;
			padding-right: 10px;
		}
	</style>
	<fieldset id="duration" class="form__group form__group--compound"><legend class="control__label" id="duration[label]">Duration of event <span class="required-indicator" rel="tooltip" data-toggle="tooltips" title="" data-original-title="required">*</span></legend>
	<div class="controls">
		<label for="duration-from" id="duration-from[label]" class="control__label hide ">From</label><input id="duration-from" type="time" class="form__control form__control-col--1"><label for="duration-to" id="duration-to[label]" class="control__label">To</label><input id="duration-to" type="time" class="form__control form__control-col--1"></div></fieldset>

    {{ 
        form.fieldset_start({
            'legend': 'Event details'
        })
    }}

    {{
        form.content({
            'label': 'Categories',
			'id': 'categories',
			'name': 'categories',
            'required': true,
			'value': html.button({
				'label': 'Assign Categories'
			})
        })
    }}

	{{
        form.content({
            'label': 'Metadata',
			'id': 'metadata',
			'name': 'metadata',
            'required': true,
			'value': html.button({
				'label': 'Assign Metadata'
			})
        })
    }}

	{{
        form.content({
            'label': 'Location',
			'id': 'location',
			'name': 'location',
            'required': true,
			'value': html.button({
				'label': 'Assign Location'
			})
        })
    }}

	{{
        form.text({
            'label': 'Cost',
			'class': 'form__group--medium',
			'id': 'cost',
			'name': 'cost',
			'prepend': '£',
            'value': '100.00'
        })
    }}

	{{
        form.textarea({
            'label': 'Summary',
			'id': 'summary',
			'name': 'summary',
			'rows': 5
        })
    }}

	{{
        form.textarea({
            'label': 'Description',
			'id': 'description',
			'name': 'description',
			'rows': 10
        })
    }}

	{{
        form.checkbox({
            'label': 'Pick of the week',
			'id': 'potw',
			'name': 'potw'
        })
    }}

    {{ form.fieldset_end() }}

    {{ 
        form.fieldset_start({
            'legend': 'Repeat event'
        })
    }}

    <p>Make this event recur on a defined schedule, you can add a repeat pattern and add/remove specific dates to fine tune when your event will run</p>

    <script>
        (function ($) {
            $(window).load(function() {
                var $repeatEnds = $('.proto-ends'),
                    $repeatCalendar = $('.proto-calendar');

                $('#repeat-pattern-two').change(function() {
                    if ($(this).val() == '') {
                        $repeatEnds.addClass('hide');
                        $repeatCalendar.addClass('hide');
                    } else {
                        $repeatEnds.removeClass('hide');
                        $repeatCalendar.removeClass('hide');
                    }

                    $('.js-repeat-day').prop('checked', false);

                    if ($(this).val() == 'daily') {
                        $('.js-repeat-day').prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else if ($(this).val() == 'weekly') {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [0, 7, 14, 21, 28]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else if ($(this).val() == 'two-weekly') {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [0, 14, 28]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else if ($(this).val() == 'three-weekly') {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [0, 21]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else if ($(this).val() == 'four-weekly') {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [0, 28]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else if ($(this).val() == 'monthly-day' || $(this).val() == 'monthly-date' || $(this).val() == 'annually') {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [0]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else if ($(this).val() == 'custom') {
                        $('.js-custom-recurrence-two').removeClass('hide');
                    } else {
                        $('.js-custom-recurrence-two').addClass('hide');
                    }
                });

                $('[value="mon"]').change(function() {
                    if (this.checked) {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [0, 7, 14, 21, 28]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [0, 7, 14, 21, 28]) > -1;
                        }).prop('checked', false).closest('.form-choice').removeClass('choice--to-add has-changed');
                    }
                });

                $('[value="tue"]').change(function() {
                    if (this.checked) {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [1, 8, 15, 22, 29]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [1, 8, 15, 22, 29]) > -1;
                        }).prop('checked', false).closest('.form-choice').removeClass('choice--to-add has-changed');
                    }
                });

                $('[value="wed"]').change(function() {
                    if (this.checked) {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [2, 9, 16, 23, 30]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [2, 9, 16, 23, 30]) > -1;
                        }).prop('checked', false).closest('.form-choice').removeClass('choice--to-add has-changed');
                    }
                });

                $('[value="thu"]').change(function() {
                    if (this.checked) {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [3, 10, 17, 24, 31]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [3, 10, 17, 24, 31]) > -1;
                        }).prop('checked', false).closest('.form-choice').removeClass('choice--to-add has-changed');
                    }
                });

                $('[value="fri"]').change(function() {
                    if (this.checked) {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [4, 11, 18, 25, 32]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [4, 11, 18, 25, 32]) > -1;
                        }).prop('checked', false).closest('.form-choice').removeClass('choice--to-add has-changed');
                    }
                });

                $('[value="sat"]').change(function() {
                    if (this.checked) {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [5, 12, 19, 26, 33]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [5, 12, 19, 26, 33]) > -1;
                        }).prop('checked', false).closest('.form-choice').removeClass('choice--to-add has-changed');
                    }
                });

                $('[value="sun"]').change(function() {
                    if (this.checked) {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [6, 13, 20, 27, 34]) > -1;
                        }).prop('checked', true).closest('.form-choice').addClass('choice--to-add has-changed');
                    } else {
                        $('.js-repeat-day').filter(function(index, el) {
                            return $.inArray(index, [6, 13, 20, 27, 34]) > -1;
                        }).prop('checked', false).closest('.form-choice').removeClass('choice--to-add has-changed');
                    }
                });

            
            });

        }(jQuery));
    </script>

    {{
        form.select({
            'label': 'Repeat',
            'class': 'form__group--large',
            'id': 'repeat-pattern-two',
            'name': 'repeat-pattern-two',
            'options': {
                '': "No repeat",
                'daily': 'Daily',
                'weekly': 'Weekly on Monday',
                'two-weekly': 'Every two weeks, on Monday',
                'three-weekly': 'Three Weekly',
                'four-weekly': 'Four Weekly',
                'monthly-day': 'Monthly, on this day (first Monday)',
                'monthly-date': 'Monthly, on this date (1st)',
                'annually': 'Annually',
                'custom': 'Custom weekday pattern'
            }
        })
    }}
    
    {{ form.fieldset_start({'class': 'js-custom-recurrence-two hide u-padding-top-none u-padding-bottom-none'}) }}

        {#
            form.text({
                'label': 'Repeat every',
                'class': 'form__group--medium',
                'id': 'repeat-every',
                'name': 'repeat-every',
                'append': 'weeks',
                'required': true,
                'value': '1',
                'help': 'The number of weeks which should pass before the event reoccurs'
            })
        #}

        {{
            form.choice({
                'label': 'Repeat every',
                'class': 'choice--bubbles choice--bubbles-inline',
                'multiple': true,
                'optimize': 'few',
                'required': true,
                'help': 'You must choose at least one day for the event to occur on',
                'options': [
                    {
                        'label': 'MO',
                        'value': 'mon',
                        'name': 'days'
                    },
                    {
                        'label': 'TU',
                        'value': 'tue',
                        'name': 'days'
                    },
                    {
                        'label': 'WE',
                        'value': 'wed',
                        'name': 'days'
                    },
                    {
                        'label': 'TH',
                        'value': 'thu',
                        'name': 'days'
                    },
                    {
                        'label': 'FR',
                        'value': 'fri',
                        'name': 'days'
                    },
                    {
                        'label': 'SA',
                        'value': 'sat',
                        'name': 'days'
                    },
                    {
                        'label': 'SU',
                        'value': 'sun',
                        'name': 'days'
                    }
                ]
            })
        }}

        {{ form.fieldset_end() }}



    <!-- NOT PRODUCTION QUALITY!!!!!!!! DO NOT SHIP THIS JAVASCRIPT!!!!! -->
    <script>
        (function ($) {
            $(window).load(function(){
                $('[data-show="js-end-repeat-2"]').on('change', function() {
                    if ($(this).is(':checked')) {
                        $('.js-end-repeat-2').removeClass('hide');
                        $('#end-date-2').removeAttr('disabled').removeClass('is-disabled');
                    }
                });

                $('[data-hide="js-end-repeat-2"]').on('change', function() {
                    if ($(this).is(':checked')) {
                        $('#end-date')
                            .addClass('is-disabled')
                            .attr('disabled', 'disabled');
                        $('.js-end-repeat-2').addClass('hide');
                    }
                });
            });
        }(jQuery));
    </script>

    {{
        form.choice({
            'class': 'proto-ends hide',
            'label': 'Repeat ends',
            'options': [
                {
                    'label': 'Never',
                    'value': 'never',
                    'name': 'ends',
                    'data-hide': 'js-end-repeat-2',
                    'checked': true
                },
                {
                    'label': 'On date',
                    'value': 'date',
                    'data-show': 'js-end-repeat-2',
                    'name': 'ends'
                }
            ]
        })
    }}

    {{
        form.date({
            'label': 'End repeat after',
            'class': 'form__group--medium hide js-end-repeat-2',
            'prepend': html.icon('calendar'),
            'id': 'end-date-2',
            'name': 'end-date-2',
            'help': 'Events will stop repeating <strong>after</strong> this date',
            'disabled': true
        })
    }}

    <!-- NOT PRODUCTION QUALITY!!!!!!!! DO NOT SHIP THIS JAVASCRIPT!!!!! -->
    <script>
        (function ($) {
            $(window).load(function(){

                addArray = [];
                delArray = [];

                $('.js-review-changes')
                    .on('click', function(e) {
                        e.preventDefault();
                    })
                    .popover({ 
                        html: true,
                        container: 'body',
                        placement: 'left',
                        content: function() {
                            console.log('popover');
                            return $('.js-review-changes-content').html();
                        }
                    });

                $('.js-repeat-day').on('change', function() {
                    var $this = $(this),
                        $choice = $this.closest('.form-choice');

                    if ($choice.hasClass('has-changed')) {
                        if ($this.is(':checked')) {
                            console.log('1');
                            $choice
                                .removeClass('choice--to-remove has-changed');
                            updateCalendarReview('un-del', $this.val());
                        }
                        else {
                            console.log('2');
                            $choice
                                .removeClass('choice--to-add has-changed');
                            $this.blur();
                            updateCalendarReview('un-add', $this.val());
                        }
                    } 
                    else {
                        if ($this.is(':checked')) {
                            console.log('3');
                            $choice
                                .removeClass('choice--to-remove')
                                .addClass('choice--to-add has-changed');
                            updateCalendarReview('add', $this.val());
                        }
                        else {
                            console.log('4 blur');
                            $choice
                                .removeClass('choice--to-add')
                                .addClass('choice--to-remove has-changed')
                            $this.blur();
                            updateCalendarReview('del', $this.val());
                        }
                    }
                });

                $('.js-calendar-reset').on('click', function(e) {
                    console.log('reset');
                    e.preventDefault();

                    var $toRemove = $('.has-changed.choice--to-remove'),
                        $toAdd = $('.has-changed.choice--to-add')
                    
                    $('.has-changed.choice--to-remove').each(function() {
                        $(this).removeClass('choice--to-remove has-changed').find('.checkbox').prop('checked', true);
                    });

                    $('.has-changed.choice--to-add').each(function() {
                        $(this).removeClass('choice--to-add has-changed').find('.checkbox').prop('checked', false);
                    });

                    updateCalendarReview('reset');
                    
                });
            });

            function updateCalendarReview(action, value) {
                var $reviewContainer = $('.js-calendar-review'),
                    $addReview = $('.js-add-review'),
                    $addBadge = $('.js-add-badge'),
                    $addLabel = $('.js-add-label'),
                    addBadgeVal = parseInt($addBadge.html()),
                    $delReview = $('.js-del-review'),
                    $delBadge = $('.js-del-badge'),
                    $delLabel = $('.js-del-label'),
                    delBadgeVal = parseInt($delBadge.html())
                    $addList = $('.js-add-list'),
                    $delList = $('.js-del-list');

                if (action === 'reset') {
                    $addBadge.addClass('hide').html('0');
                    $delBadge.addClass('hide').html('0');
                } else if (action === 'add') {
                    $addReview.removeClass('hide').addClass('has-changed');
                    $addBadge.removeClass('hide');
                    $addBadge.html(addBadgeVal + 1);

                    //$addList.removeClass('hide').find('ol').append('<li>' + value + '</li>');
                    addArray.push(value);
                }
                else if (action === 'del') {
                    $delReview.removeClass('hide').addClass('has-changed');
                    $delBadge.removeClass('hide');
                    $delBadge.html(delBadgeVal + 1);

                    delArray.push(value);
                }
                else if (action === 'un-add') {
                    $addReview.removeClass('hide').addClass('has-changed');
                    $addBadge.removeClass('hide');
                    $addBadge.html(addBadgeVal - 1);

                    addArray.splice(addArray.indexOf(value), 1);
                }
                else if (action === 'un-del') {
                    $delReview.removeClass('hide').addClass('has-changed');
                    $delBadge.removeClass('hide');
                    $delBadge.html(delBadgeVal - 1);

                    delArray.splice(delArray.indexOf(value), 1);
                }

                if (parseInt($addBadge.html()) === 0) {
                    $addReview.addClass('hide');
                    $addLabel.html('day');
                }
                else if (parseInt($addBadge.html()) === 1) {
                    $addLabel.html('day');
                } else {
                    $addLabel.html('days');
                }

                if (parseInt($delBadge.html()) === 0) {
                    $delReview.addClass('hide');
                    $delLabel.html('day');
                }
                else if (parseInt($delBadge.html()) === 1) {
                    $delLabel.html('day');
                }
                else {
                    $delLabel.html('days');
                }

                if (parseInt($addBadge.html()) === 0 && parseInt($delBadge.html()) === 0) {
                    $reviewContainer.addClass('hide');
                } else {
                    $reviewContainer.removeClass('hide');
                }

                addArray.sort(function(a,b) {
                    a = a.split('/').reverse().join('');
                    b = b.split('/').reverse().join('');
                    return a.localeCompare(b);
                });

                delArray.sort(function(a,b) {
                    a = a.split('/').reverse().join('');
                    b = b.split('/').reverse().join('');
                    return a.localeCompare(b);
                });

                if (addArray.length && (action === 'add' || action == 'un-add')) {
                    var addDates = '';
                    
                    $.each(addArray, function(i) {
                        addDates += '<li>' + addArray[i] + '</li>';
                    });

                    $addList.removeClass('hide').find('ol').empty().append(addDates);
                }
                else if (delArray.length && (action === 'del' || action == 'un-del')) {
                    var delDates = '';
                    
                    $.each(delArray, function(i) {
                        delDates += '<li>' + delArray[i] + '</li>';
                    });

                    $delList.removeClass('hide').find('ol').empty().append(delDates);
                } 
                else if (!delArray.length) {
                    $delList.addClass('hide');
                }
                else if (!addArray.length) {
                    $addList.addClass('hide');
                }

                setTimeout(function() {
                    $addReview.removeClass('has-changed');
                    $delReview.removeClass('has-changed');
                }, 250);
                
            };

        }(jQuery));
    </script>

    <div class="form__group hide proto-calendar">
        <label for="recurrences" class="control__label">Recurrences</label>
        
        <div class="controls">
            <p class="help-block u-margin-top-none">Click on a day to add or remove a recurrence</p>

            <div class="calendar-container">
                <button class="btn--naked float--left" href="" data-year="2018" data-month="9">{{ html.icon('chevron-circle-left') }}</button>
                
				<button class="btn btn--naked float--right" href="" data-year="2018" data-month="11">{{ html.icon('chevron-circle-right') }}</button>

                <h3 class="calendar__heading">
                    <select>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option selected>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                    <select>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                    </select>
                </h3>
                
                <table class="calendar">
					<thead>
						<tr>
							<th>Mon</th>
							<th>Tue</th>
							<th>Wed</th>
							<th>Thu</th>
							<th>Fri</th>
							<th>Sat</th>
							<th>Sun</th>
                        </tr>
					</thead>
					<tbody>
						<tr>
							<td class="form-choice choice--bubbles">
                                <div class="controls">
                                    <label class="control__label">
                                        <input value="01/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day" checked>
                                        <span class="form-choice__label">1</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="02/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">2</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="03/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">3</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="04/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">4</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="05/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">5</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="06/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">6</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="07/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">7</span>
                                    </label>
                                </div>
							</td>
						</tr>
						<tr>
							<td class="form-choice choice--bubbles">
                                <div class="controls">
                                    <label class="control__label">
                                        <input value="08/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">8</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="09/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">9</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="10/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">10</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="11/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">11</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="12/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">12</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="13/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">13</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="14/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">14</span>
                                    </label>
                                </div>
							</td>
						</tr>
                        <tr>
							<td class="form-choice choice--bubbles">
                                <div class="controls">
                                    <label class="control__label">
                                        <input value="15/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">15</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="16/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">16</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="17/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">17</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="18/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">18</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="19/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">19</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="20/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">20</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="21/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">21</span>
                                    </label>
                                </div>
							</td>
						</tr>
                        <tr>
							<td class="form-choice choice--bubbles">
                                <div class="controls">
                                    <label class="control__label">
                                        <input value="22/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">22</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="23/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">23</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="24/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">24</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="25/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">25</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="26/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">26</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="27/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">27</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="28/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">28</span>
                                    </label>
                                </div>
							</td>
						</tr>
						<tr>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="29/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">29</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="30/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">30</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
								<div class="controls">
                                    <label class="control__label">
                                        <input value="31/10/2018" name="cal-dd" type="checkbox" class="form__control checkbox js-repeat-day">
                                        <span class="form-choice__label">31</span>
                                    </label>
                                </div>
							</td>
							<td class="form-choice choice--bubbles">
							</td>
							<td class="form-choice choice--bubbles">
								
							</td>
							<td class="form-choice choice--bubbles">
								
							</td>
							<td class="form-choice choice--bubbles">
								
							</td>
						</tr>
					</tbody>
				</table>
            </div>

            <div class="calendar-review js-calendar-review hide">
                <ul class="list--naked list--inline">
                    <li class="js-add-review hide margin-right"><i class="icon icon-plus-sign icon--success"></i> <span class="js-add-badge">0</span> <span class="js-add-label">day</span> will be <strong>added</strong></li>
                    <li class="js-del-review hide"><i class="icon icon-remove-sign icon--danger"></i> <span class="js-del-badge">0</span> <span class="js-del-label">day</span> will be <strong>removed</strong></li>
                </ul>

                {{
                    html.button({
                        'label': 'Review Changes',
                        'class': 'btn--outline btn--small btn--inverse js-review-changes',
                        'data-autoclose': 'true'
                    })
                }}
                {{
                    html.button({
                        'label': 'Reset Calendar',
                        'class': 'btn--outline btn--small btn--naked js-calendar-reset'
                    })
                }}

                <div class="calendar-review js-review-changes-content hide">
                    <div class="calendar-review__list js-add-list hide">
                        <span class="list-heading"><i class="icon icon-plus-sign icon--success"></i> To be added</span>
                        <ol>
                            
                        </ol>
                    </div>
                    <div class="calendar-review__list js-del-list hide">
                        <span class="list-heading"><i class="icon icon-remove-sign icon--danger"></i> To be removed</span>
                        <ol>
                            
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form.fieldset_end() }}
	

    {{
        form.end({
            'actions': [
                form.submit({
                    'class': 'btn--primary',
                    'label': 'Save'
                }),
                html.button({
                    'class': 'btn--naked',
                    'type': 'link',
                    'label': 'Cancel',
                    'href': '#'
                })
            ]
        })
    }}

    <!-- NOT PRODUCTION QUALITY!!!!!!!! DO NOT SHIP THIS JAVASCRIPT!!!!! -->
    <script>
        (function ($) {
            $(window).load(function(){

                $('[data-show="js-set-occurence"]').on('click', function(e) {
                    e.preventDefault();
                    $('.js-set-occurence').removeClass('hide');

                });
            });
        }(jQuery));
    </script>


    <div class="modal" id="upcoming" style="min-width: 600px;">
        <div class="modal__dialog">
            <div class="modal__content">
                <div class="modal__header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal__title">Upcoming Occurrences</h1>
                    {{
                        form.create({})
                    }}
                </div>
                <div class="modal__body">
                    <p>This is a list of the dates this event will repeat on, based on your repeat patterns. Dates in the past are not displayed.</p>
                    <p>You may add one-off occurences to this list, or deactivate occurences to stop the event repeating on specific dates.</p>
                    {{
                        html.button({
                            'label': 'Add Occurence',
                            'class': 'u-margin-bottom u-margin-top',
                            'data-show': 'js-set-occurence'
                        })
                    }}
                    {{
                        html.button({
                            'label': 'Disable Selected',
                            'class': 'is-disabled u-margin-bottom'
                        })
                    }}

                    {{
                        form.date({
                            'label': 'Add occurence',
                            'class': 'form__group--large u-margin-top hide js-set-occurence',
                            'prepend': html.icon('calendar'),
                            'id': 'new-occurence',
                            'name': 'new-occurence',
                            'append': html.button({
                                'label': 'Add',
                                'class': 'btn--primary'
                            }),
                            'append_type': 'button'
                        })
                    }}

                    {{ 
                        html.datatable({
                            'data-order': '[[ 1, "asc" ]]',
                            'data-select': 'false',
                            'class': 'table--full',
                            'data-page-length': '10',
                            'data': data
                        }) 
                    }}
                </div>
                <div class="modal__footer">
                    {{
                        form.end({
                            'actions': [
                                form.submit({
                                    'class': 'btn--primary',
                                    'label': 'Done',
                                    'data-dismiss': 'modal'
                                }),
                                html.button({
                                    'class': 'btn--naked',
                                    'type': 'link',
                                    'label': 'Cancel',
                                    'href': '#',
                                    'data-dismiss': 'modal'
                                })
                            ]
                        })
                    }}
                </div>
            </div><!-- /.modal__content -->
        </div><!-- /.modal__dialog -->
    </div><!-- /.modal -->

{% endblock %}
